#index-list {
    background-color: grey;
    line-height: 2;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: fixed;
    width: 25%;
    top: 77px;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    overflow-y: auto;
}

#index-list .h2 {
    margin-left: 10px;
    font-weight: 900;
}

#index-list .h3 {
    margin-left: 20px;
    font-style: italic;
}

#index-list .h4 {
    margin-left: 30px;
}