img#logo-web {
    height: 66px;
    margin: 5px auto 5px 0px;
}

nav {
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10000;
}

nav>.nav-menu {
    display: flex;
    font-size: 44px;
    justify-content: space-evenly;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

nav>.nav-menu>a {
    text-decoration: none;
    color: black;
}