article {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.8),
    0 0 40px rgba(255, 255, 255, 0.7);
  color: black;
}

.main_part {
  size: 36px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  font-style: italic;
}

h2 {
  font-size: 40px;
  color: blue;
  font-weight: bold;
}

.summary {
  font-size: 28px;
}

h3 {
  font-size: 32px;
  font-style: italic;
}

.champbox_nameimg img {
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: auto;
}

.champbox_nameimg h3 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.champbox_nameimg {
  margin-top: -15px;
  margin-bottom: 15px;
}

.contentbox {
  line-height: 1.5;
  font-weight: 550;
}