article {
  color: black;
  background-color: rgba(255, 255, 255, 0.25);
}

article.main_part {
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  font-style: italic;
}

h2 {
  font-size: 40px;
  background-color: rgba(127, 255, 212, 0.25);
  font-weight: bold;
}

.summary {
  font-size: 28px;
}

h3 {
  font-size: 32px;
  font-style: italic;
  margin-left: 30px;
}

.champbox100 img {
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: auto;
}

.champbox100 h3 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.champbox100 {
  background-color: rgba(255, 255, 255, 0.25);
  margin: 15px 0;
}

.minichampbox img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  height: 75px;
  width: auto;
}

.minichampbox h4 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  font-size: 24px;
}

.minichampbox {
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: -15px;
  margin-bottom: 15px;
}

.contentbox {
  line-height: 1.5;
  font-weight: 550;
  margin: 0 60px;
}

.minicontentbox {
  line-height: 1.5;
  font-weight: 550;
  margin-left: 90px;
  margin-right: 30px;
}

#normal-link {
  color: blue;
  text-decoration: none;
  background-color: whitesmoke;
  transform: none;
}

ul.post {
  --ul-margin-left: 60px;
}

ul.post li {
  margin-left: calc(var(--ul-margin-left) + 15px);
  line-height: 2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: max-content;
  /* Adjust the width as needed */
}

.center75 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 75%;
}

img.center {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content .HP {
  color: #1f995c;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .MP {
  color: #0099cc;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .dmgPhys {
  color: #ff8c34;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .APen {
  color: tomato;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .Armor {
  color: orangered;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .AD {
  color: #ffa500;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .dmgMagic {
  color: #00b0f0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .MPen {
  color: violet;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .MR {
  color: #00ffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .AP {
  color: #7a6dff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .dmgTrue {
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .shield {
  color: grey;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.underline {
  text-decoration-line: underline;
}

#center-intro {
  text-align: center;
  display: block;
  font-size: 24px;
  line-height: 1.5;
}

h4.title {
  margin-left: 60px;
}

.champbox50 img {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: auto;
  padding: 10px;
}

.champbox50 #text {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.champbox75 img {
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  width: auto;
  padding: 10px;
}

.champbox75 #text {
  display: inline-block;
  font-weight: 900;
  vertical-align: middle;
  margin: 0 15px;
}