article {
  color: black;
  background-color: rgba(255, 255, 255, 0.25);
}

.main_part {
  text-shadow: 0 0 3px rgb(128, 128, 128), 0 0 6px rgb(255, 255, 255);
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  font-style: italic;
}

h2 {
  font-size: 40px;
  text-shadow: none;
  background-color: rgba(127, 255, 212, 0.25);
  font-weight: bold;
}

.summary {
  font-size: 28px;
}

h3 {
  font-size: 32px;
  font-style: italic;
  margin-left: 30px;
}

.champbox_nameimg img {
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: auto;
}

.champbox_nameimg h3 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.champbox_nameimg {
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: -15px;
  margin-bottom: 15px;
}

.contentbox {
  line-height: 1.5;
  font-weight: 550;
  margin-left: 60px;
}

#normal-link {
  color: blue;
  text-decoration: none;
  background-color: whitesmoke;
  transform: none;
}

ul.post {
  --ul-margin-left: 60px;
}

ul.post li {
  margin-left: calc(var(--ul-margin-left) + 15px);
  line-height: 2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%; /* Adjust the width as needed */
}

img.center {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content .HP {
  color: #1f995c;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .dmgPhys {
  color: #ff8c34;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .Armor {
  color: orangered;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .AD {
  color: #ffa500;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .dmgMagic {
  color: #00b0f0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .MR {
  color: #00ffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .AP {
  color: #7a6dff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .dmgTrue {
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content .shield {
  color: grey;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.underline {
  text-decoration-line: underline;
}
