table.norm {
    border: 1px solid black;
    margin: 0 auto;
}

table.norm th, table.norm td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

thead#aqua th {
    background-color: aqua;
}

tbody#white td {
    background-color: whitesmoke;
}