table.norm {
    border: 1px solid black;
    margin: 0 auto;
}

table.norm th, table.norm td {
    border: 1px solid black;
}

thead#aqua th {
    background-color: aqua;
}

tbody#white td {
    background-color: whitesmoke;
}

.champbox50 img {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: auto;
    padding: 10px;
}

.champbox50 #text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}