@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "Baloo";
  src: url("/fonts/Baloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#mobile-cover {
  display: none; /* Hide by default */
}
  
@media only screen and (max-width: 768px) and (orientation: portrait) {
  #mobile-cover {
    display: grid;
    place-items: center; /* Show on mobile devices in portrait orientation */
    position: fixed; /* Position it as a topmost layer */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000; /* Ensure it is on top */
    text-align: center;
    background-color: black;
  }
  
  #mobile-cover h1 {
    color: whitesmoke;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("/img/background/explore-poster-relationship.webp"); /* Replace with your image URL */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Make the background image fixed */
  background-size: cover; /* Ensure the image covers the entire viewport */
  background-position: center; /* Center the image */
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the overlay is above the background image */
}

body a {
  text-decoration: none;
  color: inherit;
  text-shadow: inherit;
  transition: transform 0.3s ease;
  display: inline-block;
}
  
body a:hover {
  transform: scale(1.05);
}

main {
  margin-top: 77px;
  padding: 1em;
}

.content {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
  color: whitesmoke; /* Adjust text color for better readability */
}

.underline {
  text-decoration-line: underline;
}

.indent {
  text-indent: 0.5em;
}

.margin {
  margin-left: 0.5em;
}

ul.close {
  margin: 0.5em;
  padding: 0;
  padding-left: 1em;
}

ul.close>li {
  margin: 0px;
}

article {
  padding: 1em;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#wiki_tabs {
  background-color: gray;
  display: flex;
  padding: 0.5em;
  font-size: 36px;
  justify-content: space-between;
}

#wiki_tabs a {
  margin: auto;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hero-list, .item-list, .spell-list {
  flex-direction: column;
  background-color: whitesmoke;
  padding: 1em;
}

.hero-list {
  display: flex;
}

.item-list, .spell-list {
  display: none;
}

.hero-area, .item-area, .spell-area {
  display: none;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
  background-color: rgb(170, 170, 170);
}

.show {
  display: flex;
}

.hero-list img, .item-list img, .spell-list img {
  height: 100px;
  width: auto;
}

.hero-block, .item-block, .spell-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  line-height: 2;
  margin: 10px;
}

.hero-box, .item-box, .spell-box {
  display: none;
  width: 500px;
  flex-direction: column;
  text-align: left;
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  background-color: rgb(85, 85, 85);
  padding: 0.5em;
  pointer-events: none;
  line-height: 1.5;
}



.HP {
  color: black;
  text-shadow: -1px 0 #1f995c, 0 1px #1f995c, 1px 0 #1f995c, 0 -1px #1f995c;
}

.MP {
  color: black;
  text-shadow: -1px 0 #0099cc, 0 1px #0099cc, 1px 0 #0099cc, 0 -1px #0099cc;
}

.dmgPhys {
  color: #ff8c34;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.APen {
  color: tomato;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Armor {
  color: orangered;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.AD {
  color: #ffa500;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dmgMagic {
  color: black;
  text-shadow: -1px 0 #00b0f0, 0 1px #00b0f0, 1px 0 #00b0f0, 0 -1px #00b0f0;
}

.MPen {
  color: violet;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.MR {
  color: #00ffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.AP {
  color: black;
  text-shadow: -1px 0 #7a6dff, 0 1px #7a6dff, 1px 0 #7a6dff, 0 -1px #7a6dff;
}

.dmgTrue {
  color: black;
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.shield {
  color: black;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

em, strong {
  display: inline;
  white-space: normal;
}

.category-title {
  align-self: left;
  color: black;
  font-weight: bolder;
  font-size: 30px;
  padding: 0.5em;
  background-color: gray;
  cursor: pointer;
}

.attribute, .price, .fxs {
  margin: 0.5em;
}