<!--<nav>
  <a href="/home.html" class="logo"
    ><img src="/img/logo/logo_sapbaohapcoc.png" alt="Trang chủ"
  /></a>
  <a href="/home_live.html">Server<br />Chính Thức</a>
  <a href="/home_test.html">Server<br />Thử Nghiệm</a>
  <a href="/misc.html">Khác</a>
</nav>-->

<nav class="navbar">
  <a href="/home.html" class="logo"
    ><img src="/img/logo/logo_sapbaohapcoc.png" alt="Trang chủ"
  /></a>
  <div class="menu">
    <a href="/home_live.html">Server<br />Chính Thức</a>
    <a href="/home_test.html">Server<br />Thử Nghiệm</a>
    <a href="/misc.html">Khác</a>
  </div>
  <div class="menu-icon" onclick="toggleMenu()">☰</div>
  <div class="dropdown-menu">
    <a href="/home_live.html">Server Chính Thức</a>
    <a href="/home_test.html">Server Thử Nghiệm</a>
    <a href="/misc.html">Khác</a>
  </div>
</nav>
