<div class="category">Lớp Tướng Đỡ Đòn:</div>
<div class="area">
  <div class="spell-area">
    <span class="block">
      <img src="/img/hero/arthur.webp" class="hero" alt="Arthur">
      Arthur
      <div class="tooltip">
        <strong>Chỉ số tăng theo mỗi level:</strong>
        <ul class="close">
          <li>Máu tối đa +12</li>
          <li>Tốc chạy +2%</li>
          <li>Sát thương cận chiến +10</li>
        </ul>
        <strong>Nội tại:</strong>
        <span class="margin"> Tăng <em>Tốc độ hồi máu</em> thêm 25% </span>
        <strong>Kích hoạt:</strong>
        <span class="margin">
          Trong 3s tiếp theo, nhận thêm (10×level) <em>Sát thương cận chiến</em>,
          đồng thời triệu hồi thần khiên xoay quanh bản thân, mỗi 0.5s gây
          20(+1×<em>Sát thương cận chiến</em>) sát thương lên kẻ địch xung quanh
          <br />
          <em>Hồi chiêu:</em> 10s
        </span>
      </div>
    </span>
  </div>
</div>

<div class="category">Lớp Tướng Đấu Sĩ:</div>
<div class="area">
  <div class="spell-area">
    <span class="block">
      <img src="/img/hero/ying.jpg" class="hero" alt="Ảnh">
      Ảnh
      <div class="tooltip">
        <strong>Ảnh:</strong>
        <ul class="close">
          <li><em>Vai trò:</em> Đấu Sĩ (chính)</li>
          <li><em>Vị trí trong giao tranh:</em> Đấu Sĩ trung phong</li>
          <li><em>Lối chơi đặc trưng:</em> Sát thương duy trì/Hồi phục</li>
          <li><em>Giai đoạn mạnh nhất (Lý thuyết):</em> Xuyên suốt trận đấu</li>
          <li><em>Khả năng sinh tồn:</em> Trung bình</li>
          <li><em>Tần suất gây sát thương:</em> Khá cao</li>
          <li><em>Độ khó:</em> Hơi thấp (so với trung bình)</li>
        </ul>
        <strong>Click vào avatar Tướng để xem bộ kỹ năng!</strong>
      </div>
      <div class="popup">
        <span>
          <img src="/img/hero_skill/ying_0.webp" alt="Nội tại - Vũ Đao Hồi Toàn:">
          <strong>Nội tại - Vũ Đao Hồi Toàn:</strong>
        </span>
        <ul class="close">
          <li>
            Khi tấn công kẻ địch ngoài tầm cận chiến, Ảnh sẽ ném boomerang về phía mục tiêu, và chỉ có thể tung ra đòn đánh kế tiếp khi thu hồi boomerang về.
            <br>
            Tuy nhiên, trong khi boomerang chưa trở về với bản thân, có thể nhấn nút đánh thường để Ảnh lướt về phía trước một đoạn ngắn, nếu chạm phải boomerang sẽ đá nó về phía mục tiêu, tấn công luôn thêm một lần nữa.
            <br>
            Ở trạng thái đánh xa, mỗi 1% tốc đánh sẽ tăng sát thương gây ra thêm 1.5 điểm. Mỗi lần đá boomerang thay vì thu hồi hoàn toàn sẽ tăng cho bản thân 1 cộng dồn duy trì 5s, giúp tăng 5% sát thương lẫn tốc độ bay của boomerang, tối đa cộng dồn 3 lần.
          </li>
          <li>
            Khi tấn công mục tiêu trong tầm cận chiến, Ảnh vung vũ huyết nhận tấn công, mỗi đòn đánh là 3 lần công kích liên tiếp, gây tổng cộng <span class="AD">(1.1AD)</span> <span class="dmgPhys">sát thương vật lý</span>.
          </li>
          <li>
            Mỗi đòn đánh đặt 1 dấu ấn lên mục tiêu, khiến <em>chiêu 2</em> gây thêm sát thương lên chúng.
          </li>
        </ul>
        <span>
          <img src="/img/hero_skill/ying_1.png" alt="Chiêu 1 - Cuồng Nhiệt Vũ Bộ">
          <strong>Chiêu 1 - Cuồng Nhiệt Vũ Bộ:</strong>
        </span>
        <span class="double-margin">
          Ảnh vung vũ huyết nhận quét ngang một vòng, gây 250-500<span class="AD">(+0.8AD cộng thêm)</span> <span class="dmgPhys">sát thương vật lý</span> lên kẻ địch xung quanh, đồng thời làm chậm chúng 30% trong 2s. Sau đó Ảnh tiến vào trạng thái Cuồng Nhiệt trong 3s, nhận thêm 25%-50% tốc chạy giảm dần theo thời gian và 75%-150% tốc đánh.
          <br>
          Tiêu hao: <span class="MP">50 Mana</span> - Hồi chiêu: 7.5s-5s
        </span>
        <span>
          <img src="/img/hero_skill/ying_2.webp" alt="Chiêu 2 - Linh Vũ Phong Bạo">
          <strong>Chiêu 2 - Linh Vũ Phong Bạo:</strong>
        </span>
        <ul class="close">
          <li>
            Ảnh lao về phía trước, đẩy lùi nhẹ các kẻ địch trúng phải (không tính là khống chế cứng) đồng thời gây 150-300<span class="AD">(+0.5AD cộng thêm)</span> <span class="dmgPhys">sát thương vật lý</span>
            <br>
            Nếu lướt tới vị trí hướng về phía kẻ địch gần đó, Ảnh sẽ bắt đầu nhảy múa và phóng lông vũ vào chúng, mỗi lông vũ gây 110-220<span class="AD">(+0.35AD cộng thêm)</span> <span class="dmgPhys">sát thương vật lý</span> và hồi 40-80<span class="HP">(+0.8% Máu cộng thêm) Máu</span> (giảm một nửa hiệu quả hồi máu đối với kẻ địch không phải Tướng), tổng cộng phóng ra 8 đợt lông vũ.
            <br>
            Nếu Ảnh đang ở trong trạng thái <span class="underline">Bất Khuất</span> khi tung chiêu, đợt lông vũ cuối cùng sẽ gây gấp đôi sát thương. Mỗi đợt lông vũ cũng sẽ kích nổ dấu ấn đặt bởi <em>nội tại</em> lên mục tiêu để gây thêm 40-80<span class="AD">(+0.15AD cộng thêm)</span> <span class="dmgPhys">sát thương vật lý</span>.
          </li>
          <li>
            Ảnh có thể vừa tung chiêu vừa di chuyển, và có thể tái kích hoạt kỹ năng để ngắt chiêu sớm. Nếu lướt tới vị trí không có kẻ địch nào xung quanh, hồi chiêu kỹ năng này giảm xuống còn 60%.
          </li>
        </ul>
        <span class="double-margin">
          <em>Do chiêu thức này không được tính là khống chế cứng, nên không kích hoạt nội tại của Yao, hay bị giải bởi chiêu thức của Điển Vi...</em>
          <br>
          Tiêu hao: <span class="MP">60 Mana</span> - Hồi chiêu: 9s-7s
        </span>
        <span>
          <img src="/img/hero_skill/ying_ulti.webp" alt="Chiêu cuối - Tối Hậu Đích Cuồng Vũ">
          <strong>Chiêu cuối - Tối Hậu Đích Cuồng Vũ:</strong>
        </span>
        <ul class="close">
          <li>
            <em>Nội tại:</em> Với mỗi lần tăng cấp cho kỹ năng này, <em>chiêu 2</em> của Ảnh sẽ được tăng thêm 2 đợt lông vũ sát thương, đồng thời đòn đánh cận chiến của Ảnh sẽ chém mục tiêu thêm một lần để gây thêm <span class="dmgPhys">50-100 sát thương vật lý</span>.
          </li>
          <li>
            <em>Kích hoạt:</em> Ảnh thắp lại ngọn lửa vinh quang của Đông Quân ngày nào, gây 400-800<span class="AD">(+1.4AD cộng thêm)</span> <span class="dmgPhys">sát thương vật lý</span> lên kẻ địch xung quanh, đồng thời tiến vào trạng thái <span class="underline">Bất Khuất</span> trong 4s tiếp theo.
            <br>
            Trong trạng thái trên, Ảnh được tăng tạm thời <span class="HP">50%-100% Máu tối đa</span>, cùng với 50%-100% tốc chạy giảm dần theo thời gian hiệu lực, và các hiệu ứng hồi <span class="HP">Máu</span> cũng sẽ bị trì hoãn cho tới khi kết thúc trạng thái.
            <br>
            Nếu Ảnh bị hạ gục khi kỹ năng này không ở trạng thái đang hồi chiêu, Ảnh sẽ tự động kích hoạt để được hồi sinh sau một khoảng trễ ngắn, gây lượng <span class="dmgPhys">sát thương vật lý</span> tương tự lên kẻ địch xung quanh, đồng thời nhận thêm lượng <span class="HP">Máu tối đa tạm thời</span> bằng 50% so với khi chủ động kích hoạt.
            <br>
            Nếu lượng Máu tối đa tạm thời bị tiêu hao hết, Ảnh sẽ kết thúc trạng thái <span class="underline">Bất Khuất</span> ngay lập tức.
          </li>
        </ul>
        <span class="double-margin">
          Tiêu hao: <span class="MP">100 Mana</span> - Hồi chiêu: 55s-45s
        </span>
      </div>
    </span>
  
    <span class="block">
      <img src="/img/hero/sikongzhen.webp" class="hero" alt="Tư Không Chấn">
      Tư Không Chấn
      <div class="tooltip">
        <strong>Chỉ số tăng theo mỗi level:</strong>
        <ul class="close">
          <li>Máu tối đa +10</li>
          <li>Khuếch đại sát thương +2%</li>
          <li>Tỷ lệ chí mạng +1%</li>
        </ul>
        <strong>Nội tại:</strong>
        <span class="margin">
          <em>Tia sét</em> có thể <span class="underline">chí mạng</span>
        </span>
        <strong>Kích hoạt:</strong>
        <span class="margin">
          Biến hình và gây 60(+60×level) sát thương lên kẻ địch xung quanh.
          <br />
          Trong trạng thái biến hình, mỗi 0.5s sẽ phóng ra 3 <em>Tia sét</em> tấn
          công, mỗi <em>Tia sét</em> gây 100% sát thương lên mục tiêu chính và 50%
          sát thương lan sang tối đa 2 mục tiêu phụ ở gần đó.
          <br />
          Trạng thái biến hình duy trì 8s, hồi chiêu chỉ bắt đầu đếm khi kết thúc
          trạng thái.
          <br />
          <em>Hồi chiêu:</em> 20s
        </span>
      </div>
    </span>
  
    <span class="block">
      <img src="/img/hero/arthur.webp" class="hero" alt="Arthur">
      Arthur
      <div class="tooltip">
        <strong>Chỉ số tăng theo mỗi level:</strong>
        <ul class="close">
          <li>Máu tối đa +12</li>
          <li>Tốc chạy +2%</li>
          <li>Sát thương cận chiến +10</li>
        </ul>
        <strong>Nội tại:</strong>
        <span class="margin"> Tăng <em>Tốc độ hồi máu</em> thêm 25% </span>
        <strong>Kích hoạt:</strong>
        <span class="margin">
          Trong 3s tiếp theo, nhận thêm (10×level) <em>Sát thương cận chiến</em>,
          đồng thời triệu hồi thần khiên xoay quanh bản thân, mỗi 0.5s gây
          20(+1×<em>Sát thương cận chiến</em>) sát thương lên kẻ địch xung quanh
          <br />
          <em>Hồi chiêu:</em> 10s
        </span>
      </div>
    </span>
  </div>
</div>

<div class="category">Lớp Tướng Pháp Sư:</div>
<div class="area">
  <div class="spell-area">
    <span class="block">
      <img class="hero" src="/img/hero/shenmengxi.webp" alt="Thẩm Mộng Khê">
      Thẩm Mộng Khê
      <div class="tooltip">
        <strong>Chỉ số tăng theo mỗi level:</strong>
        <ul class="close">
          <li>Máu tối đa +10</li>
          <li>Sát thương tầm xa +5</li>
          <li>Tốc đánh +2%</li>
        </ul>
        <strong>Nội tại:</strong>
        <span class="margin"> Tăng thêm (1×level)% bán kính <em>Vụ nổ</em> </span>
        <strong>Kích hoạt:</strong>
        <span class="margin">
          Tăng 35% tốc chạy trong 8.5s tiếp theo.
          <br />
          Trong thời gian này, mỗi 1.5s sẽ ném ra 3 quả bom ra xung quanh, mỗi quả
          bom tạo thành <em>Vụ nổ</em> gây 40(+40×level) sát thương đồng thời đẩy
          lùi kẻ địch trúng phải.
          <br />
          <em>Hồi chiêu:</em> 10s
        </span>
      </div>
    </span>
  
    <span class="block">
      <img class="hero" src="/img/hero/bianque.webp" alt="Biển Thước">
      Biển Thước
      <div class="tooltip">
        <strong>Chỉ số tăng theo mỗi level:</strong>
        <ul class="close">
          <li>Máu tối đa +12</li>
          <li>Tốc đánh +2%</li>
          <li>Phòng ngự +3</li>
        </ul>
        <strong>Nội tại:</strong>
        <span class="margin">
          Hiệu ứng <em>Độc</em> có thể cộng dồn tới 5 lần, mỗi cộng dồn tăng thêm
          60% sát thương
        </span>
        <strong>Kích hoạt:</strong>
        <span class="margin">
          Phóng độc dược theo hướng chỉ định, gây 30(+10×level)(+0.2×<em
            >Máu tối đa</em
          >) sát thương lên kẻ địch, đồng thời đặt 3 cộng dồn hiệu ứng
          <em>Độc</em> lên chúng. Bản thân và các đồng minh chạm vào độc dược sẽ
          được hồi 4(+4×level) Máu.
          <br />
          Sau khi đạt tới tầm xa tối đa, luồng độc dược sẽ quay trở về với Biển
          Thước.
          <em>Hồi chiêu:</em> 8s
        </span>
      </div>
    </span>
  
    <span class="block">
      <img src="/img/hero/zhouyu.webp" class="hero" alt="Chu Du" />
      Chu Du
      <div class="tooltip">
        
      </div>
    </span>
  </div>
</div>

<div class="category">Lớp Tướng Xạ Thủ:</div>
<div class="area">
  <div class="spell-area">
    <span class="block">
      <img src="/img/hero/luban7.webp" class="hero" alt="Lỗ Ban Thất Hiệu">
      Lỗ Ban Thất Hiệu
      <div class="tooltip">
        <strong>Chỉ số tăng theo mỗi level:</strong>
        <ul class="close">
          <li>Máu tối đa +10</li>
          <li>Khuếch đại sát thương +3%</li>
          <li>Tốc đánh +2%</li>
        </ul>
        <strong>Nội tại:</strong>
        <span class="margin">
          Tăng tỷ lệ roll ra <em>Vật phẩm (Vũ khí, Trang bị)</em> bạn cần trong
          shop
          <br />
          (Hiện chưa rõ là theo thuộc tính Tướng hay theo kho đồ đang có)
        </span>
        <strong>Kích hoạt:</strong>
        <span class="margin">
          Triệu hồi máy bay ném bom từ trên không, tồn tại 10s.
          <br />
          Mỗi 0.5s, máy bay oanh tạc, gây 45(+1.5×<em>Sát thương cận chiến</em
          >)(+1.5×<em>Sát thương tầm xa</em>) sát thương lên kẻ địch trong phạm
          vi.
          <br />
          Khi Lỗ Ban Thất Hiệu đứng trong phạm vi sát thương của máy bay, bản thân
          được tăng 15(+1×level)% <em>Khuếch đại sát thương</em>.
          <br />
          <em>Hồi chiêu:</em> 10s
        </span>
      </div>
    </span>
  
    <span class="block">
      <img src="/img/hero/mengya.webp" class="hero" alt="Mông Nha">
      Mông Nha
      <div class="tooltip">
  
      </div>
    </span>
  </div>
</div>
