<div class="area" style="flex-direction: row; display: flex;">
  <span class="block">
    <img src="/img/spell/smite.webp" class="spell" alt="Trừng Phạt" />
    Trừng Phạt
    <div class="tooltip">
      <strong>Trừng Phạt:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 1</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 30s</span>
      <span class="fxs"
        >Gây sát thương lên Lính/Quái rừng lân cận, đồng thời làm choáng chúng
        trong 1s</span
      >
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/execute.webp" class="spell" alt="Trảm Sát" />
    Trảm Sát
    <div class="tooltip">
      <strong>Trảm Sát:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 3</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 60s</span>
      <span class="fxs">Gây <span class="dmgTrue">sát thương chuẩn</span> lên các Tướng địch xung quanh, mỗi kẻ địch phải chịu sát thương tương đương <span class="HP">16% Máu đã mất <span class="underline">của mục tiêu</span></span>. Nếu hạ gục được ít nhất một Tướng địch bằng phép bổ trợ này, giảm 90% hồi chiêu</span>
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/berserk.webp" class="spell" alt="Cuồng Bạo" />
    Cuồng Bạo
    <div class="tooltip">
      <strong>Cuồng Bạo:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 5</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 60s</span>
      <span class="fxs">Tăng 10% sát thương gây ra, 15% Kháng Hiệu ứng, 20% Hút Máu Vật Lý và 30% Hút Máu Phép trong 7s</span>
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/ghost.webp" class="spell" alt="Tốc Hành" />
    Tốc Hành
    <div class="tooltip">
      <strong>Tốc Hành:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 7</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 90s</span>
      <span class="fxs">Loại bỏ các hiệu ứng làm chậm đang phải gánh chịu, đồng thời trong 10s tiếp theo, giảm 50% hiệu quả của các hiệu ứng làm chậm phải nhận, cũng như được tăng 30% tốc chạy (tăng lên thành 50% khi không ở trong trạng thái giao tranh)</span>
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/heal.webp" class="spell" alt="Cấp Cứu" />
    Cấp Cứu
    <div class="tooltip">
      <strong>Cấp Cứu:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 9</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 120s</span>
      <span class="fxs">Hồi lại cho bản thân và các đồng minh xung quanh <span class="HP">15% Máu tối đa <span class="underline">của mục tiêu</span></span>, đồng thời tăng 15% tốc chạy cho các mục tiêu trong 2s tiếp theo</span>
    </div>
  </span>
</div>

<div class="area" style="flex-direction: row; display: flex;">
  <span class="block">
    <img src="/img/spell/disrupt.webp" class="spell" alt="Cấm Trụ" />
    Cấm Trụ
    <div class="tooltip">
      <strong>Cấm Trụ:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 11</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 90s</span>
      <span class="fxs">
        Tạo sóng xung kích ảnh hưởng lên các Trụ xung quanh bản thân như sau:
        <ul class="close">
          <li><em>Đối với Trụ địch:</em> Làm choáng Trụ trong 2s-5s<br>(tại mốc thời gian phút thứ 4 và 10, mỗi mốc tăng 1.5s hiệu lực)</li>
          <li><em>Đối với Trụ đồng minh:</em> Khiến Trụ được miễn nhiễm sát thương và có tốc độ đánh tăng gấp đôi trong 4s tiếp theo</li>
        </ul>
        Có thể cộng dồn thời gian hiệu lực khi kích hoạt nhiều lần lên cùng 1 Trụ
        <br>
        Nếu 2 lần kích hoạt lên cùng 1 Trụ cách nhau không quá 90s, thời gian hiệu lực của lần kích hoạt sau bị giảm xuống còn 1s
      </span>
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/electroshock.webp" class="spell" alt="Ngất Ngư" />
    Ngất Ngư
    <div class="tooltip">
      <strong>Ngất Ngư:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 13</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 90s</span>
      <span class="fxs">Tạo sóng xung kích làm choáng kẻ địch xung quanh 0.75s, sau đó tiếp tục làm chậm chúng trong 1s</span>
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/cleanse.webp" class="spell" alt="Thanh Tẩy" />
    Thanh Tẩy
    <div class="tooltip">
      <strong>Thanh Tẩy:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 15</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 120s</span>
      <span class="fxs">Xoá bỏ trạng thái bất lợi và hiệu ứng khống chế đang phải gánh chịu, đồng thời miễn nhiễm với tất cả các hiệu ứng xấu trong 1.5s tiếp theo</span>
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/exhaust.webp" class="spell" alt="Kiệt Sức" />
    Kiệt Sức
    <div class="tooltip">
      <strong>Kiệt Sức:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 17</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 90s</span>
      <span class="fxs">
        Trong 4s tiếp theo, giảm 25% sát thương gây ra bởi kẻ địch xung quanh, và 20% sát thương bạn phải nhận
        <br>
        Nếu 1 mục tiêu bị ảnh hưởng bởi phép bổ trợ này 2 lần (từ cùng 1 phe) trong vòng 5s, hiệu ứng giảm sát thương gây ra sẽ bị giảm hiệu quả đi 50%
      </span>
    </div>
  </span>

  <span class="block">
    <img src="/img/spell/flash.webp" class="spell" alt="Tốc Biến" />
    Tốc Biến
    <div class="tooltip">
      <strong>Tốc Biến:</strong>
      <span class="unlock-lv"><em>Cấp độ yêu cầu để mở khoá:</em> 19</span>
      <span class="cooldown"><em>Hồi chiêu:</em> 120s</span>
      <span class="fxs">Dịch chuyển tức thời một đoạn ngắn theo hướng chỉ định</span>
    </div>
  </span>
</div>