<div class="category">Trang bị nhánh Vật Lý:</div>
<div class="area">
  <div class="mini-category">Trang bị Sơ Cấp:</div>
  <div class="mini-area">
    <span class="block">
      <img src="/img/item/physical/bf_sword.webp" class="item" alt="Lôi Minh Nhận">
      Lôi Minh Nhận
      <div class="tooltip">
        <strong>Lôi Minh Nhận:</strong>
        <span class="price"><em>Giá mua/bán:</em> 450/270 (60%)</span>
        <span class="attribute">
          <em>Chỉ số:</em> <span class="AD">+40AD</span>
        </span>
      </div>
    </span>
  </div>

  <div class="mini-category">Trang bị Trung Cấp:</div>
  <div class="mini-area">

  </div>

  <div class="mini-category">Trang bị Cao Cấp:</div>
  <div class="mini-area">

  </div>
</div>

<div class="category">Trang bị nhánh Phòng Ngự:</div>
<div class="area">
  <div class="mini-category">Trang bị Sơ Cấp:</div>
  <div class="mini-area">
    <span class="block">
      <img src="/img/item/tank/ruby_crystal.webp" class="item" alt="Hồng Mã Não">
      Hồng Mã Não
      <div class="tooltip">
        <strong>Hồng Mã Não:</strong>
        <span class="price"><em>Giá mua/bán:</em> 300/180 (60%)</span>
        <span class="attribute">
          <em>Chỉ số:</em> <span class="HP">+300 Máu</span>
        </span>
      </div>
    </span>

    <span class="block">
      <img src="/img/item/tank/cloth_armor.webp" class="item" alt="Bố Giáp">
      Bố Giáp
      <div class="tooltip">
        <strong>Bố Giáp:</strong>
        <span class="price"><em>Giá mua/bán:</em> 220/132 (60%)</span>
        <span class="attribute">
          <em>Chỉ số:</em> <span class="Armor">+90 Giáp</span>
        </span>
      </div>
    </span>
  </div>

  <div class="mini-category">Trang bị Trung Cấp:</div>
  <div class="mini-area">
    <span class="block">
      <img src="/img/item/tank/tiamat.webp" class="item" alt="Thụy Lân Quyền Nhận">
      Thụy Lân Quyền Nhận
      <div class="tooltip">
        <strong>Thụy Lân Quyền Nhận:</strong>
        <span class="price"><em>Giá mua/bán:</em> 750/450 (60%)</span>
        <span class="attribute">
          <em>Chỉ số:</em> <span class="Armor">+60 Giáp</span>, <span class="HP">+400 Máu</span>
        </span>
        <span class="recipe">
          <em>Công thức ghép đồ:</em> <img src="/img/item/tank/ruby_crystal.webp" alt="Hồng Mã Não"> + 450g
        </span>
        <span class="fxs">
          <em>Nội tại DUY NHẤT - Trọng Kích:</em> Đòn đánh lên Lính/Quái rừng gây thêm 75-150<span class="HP">(+12% Máu cộng thêm)</span> <span class="dmgPhys">sát thương vật lý</span> (giảm một nửa với Tướng đánh xa), đồng thời hồi lại <span class="HP">Máu</span> bằng 50% lượng sát thương cộng thêm đó
          <br>
          <em class="double-margin">Hồi chiêu:</em> 2.5s
        </span>
      </div>
    </span>

    <span class="block">
      <img src="/img/item/tank/bamis_cinder.webp" class="item" alt="Dung Luyện Chi Tâm">
      Dung Luyện Chi Tâm
      <div class="tooltip">
        <strong>Dung Luyện Chi Tâm:</strong>
        <span class="price"><em>Giá mua/bán:</em> 800/480 (60%)</span>
        <span class="attribute">
          <em>Chỉ số:</em> <span class="HP">+500 Máu</span>
        </span>
        <span class="recipe">
          <em>Công thức ghép đồ:</em> <img src="/img/item/tank/ruby_crystal.webp" alt="Hồng Mã Não"> + 500g
        </span>
        <span class="fxs">
          <em>Nội tại DUY NHẤT - Nghiệp Hỏa:</em> Thiêu đốt kẻ địch xung quanh, mỗi giây gây
          20-40<span class="HP">(+2.5% Máu cộng thêm)</span> <span class="dmgMagic">sát thương phép</span> lên chúng, tăng gấp đôi lên Lính/Quái rừng
        </span>
      </div>
    </span>
  </div>

  <div class="mini-category">Trang bị Cao Cấp:</div>
  <div class="mini-area">
    <span class="block">
      <img src="/img/item/tank/sunfire_aegis.webp" class="item" alt="Hồng Liên Đấu Bồng">
      Hồng Liên Đấu Bồng
      <div class="tooltip">
        <strong>Hồng Liên Đấu Bồng:</strong>
        <span class="price"><em>Giá mua/bán:</em> 1980/1188 (60%)</span>
        <span class="attribute">
          <em>Chỉ số:</em> <span class="Armor">+240 Giáp</span>, <span class="HP">+1000 Máu</span>
        </span>
        <span class="recipe">
          <em>Công thức ghép đồ:</em> <img src="/img/item/tank/bamis_cinder.webp" alt="Dung Luyện Chi Tâm"> + <img src="/img/item/tank/cloth_armor.webp" alt="Bố Giáp"> + <img src="/img/item/tank/cloth_armor.webp" alt="Bố Giáp"> + 740g
        </span>
        <span class="fxs">
          <ul class="close">
            <li><em>Nội tại DUY NHẤT - Nghiệp Hỏa:</em> Thiêu đốt kẻ địch xung quanh, mỗi giây gây 25-50<span class="HP">(+3% Máu cộng thêm)</span> <span class="dmgMagic">sát thương phép</span> lên chúng, tăng gấp đôi lên Lính/Quái rừng</li>
            <li><em>Nội tại DUY NHẤT - Trọng Thương:</em> Kẻ địch chịu thiêu đốt bởi <em>Nghiệp Hỏa</em> bị giảm 35% hiệu quả hồi phục trong 2.5s</li>
          </ul>
        </span>
      </div>
    </span>
  </div>
</div>

