<div class="category-title">Trang bị nhánh Vật Lý:</div>
<div class="item-area">
  <span class="item-block">
    <img src="/img/item/physical/bf_sword.webp" class="item" alt="Lôi Minh Nhận">
    Lôi Minh Nhận
    <div class="item-box">
      <strong>Lôi Minh Nhận:</strong>
      <span class="price"><em>Giá mua/bán:</em> 450/270 (60%)</span>
      <span class="attribute">
        <em>Chỉ số:</em> <span class="AD">+40AD</span>
      </span>
    </div>
  </span>
</div>

<div class="category-title">Trang bị nhánh Phòng Ngự:</div>
<div class="item-area">
  <span class="item-block">
    <img src="/img/item/tank/ruby_crystal.webp" class="item" alt="Hồng Mã Não">
    Hồng Mã Não
    <div class="item-box">
      <strong>Hồng Mã Não:</strong>
      <span class="price"><em>Giá mua/bán:</em> 300/180 (60%)</span>
      <span class="attribute">
        <em>Chỉ số:</em> <span class="HP">+300 Máu</span>
      </span>
    </div>
  </span>
</div>

